.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid black;
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 10px;
  color: black;
  font-size: 14px;
}

.deleteButton {
  cursor: pointer;
  background: none;
  border: none;
  background-color: #ebebeb;
  border: 1px solid grey;
  font-size: 14px;
  width: 70px;
  margin-left: 50px;
}
